node_modules/
.idea/
*.tgz
*.bak
tmp/
npm-debug.log
dist
.DS_Store
.status.json

# Created by http://www.gitignore.io

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.status.json
